h1 {
    margin: 0px;
}

.dieuKien {
    background-color: rgb(128, 0, 128);
    color: white;
    border: 1px solid;
    text-align: center;
}

.dieuKienBoSung {
    background-color: blue;
    color: white;
    border: 1px solid;
    text-align: center;
}

.dieuKienBoSungVShow {
    background-color: rgb(158, 40, 148);
    color: white;
    border: 1px solid;
    text-align: center;
}

.product {
    text-align: center;
}

.product-info {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px #ff0000;
}

.product-image {
    display: flexbox;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.disabledButton{
    background-color: #ff0000;
    color: aliceblue;
}

.color-box{
    width: 500px;
   left: 50%;
}

.tab1{
    color: green;
    margin: 20px;
    border: 1px solid red;
    padding: 10px;
}

.activeTab{
    color: violet;
    text-decoration: underline;
}

