h1 {
    margin: 0px;
}

.dieuKien {
    background-color: green;
    color: white;
    border: 1px solid;
    text-align: center;
}

.dieuKienBoSung {
    background-color: blue;
    color: white;
    border: 1px solid;
    text-align: center;
}

.dieuKienBoSungVShow {
    background-color: rgb(158, 40, 148);
    color: white;
    border: 1px solid;
    text-align: center;
}

.product {
    text-align: center;
}

.product-info {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px #ff0000;
}

.product-image {
    display: flexbox;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}