<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài 7-Computed</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <!--Sử dụng thuộc tính để tính toán Computed-->
    <div id="app">
        <div class="product">
            <!--Ảnh sản phẩm-->
            <div class="product-image">
                <img v-bind:src="image" alt="Tất" srcset="">
            </div>

            <!--Thông tin sản phẩm sử dụng computed-->
            <div class="product-info">
                <h1>{{titleProduct}}</h1>
                <span v-show="onSale">Giảm giá</span>
            </div>

            <hr>

            <!--Cú pháp điều kiện-->
            <div class="dieuKien">
                <p v-if="inStock">Còn trong kho {{soLuong - cart}}</p>
                <p v-else>Hết hàng</p>
            </div>

            <hr>
            <!--Chi tiết sản phẩm-->
            <ul>
                <li v-for="(item, index) in details" :key="index">{{item}}</li>
            </ul>
            <hr>
            <!--Kết xuất danh sách cho đối tượng-->
            <!--Rằng buộc thuộc tính style và class-->
            <div class="color-box"
            v-for="(item, index) in variants" 
            :key="item.variantID"
            :style="{backgroundColor:item.variantColor}"
            >
                <p @mouseover="doiHinhIndex(index)">{{item.variantColor}}</p>
            </div>
            <hr>

            <div class="gioHang">
                <button 
                :disabled="!inStock" 
                @click="themGioHang"
                :class="{disabledButton:!inStock}"
                >Mua thêm hàng</button>
                <button v-on:click="traHang">Trả sản phẩm</button>
                &nbsp;
                <label>{{cart}}</label>
            </div>
            

        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>